# Build folders
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio settings folder
.vs/

# ASP.NET specific
appsettings.*.json

# Logs
*.log

# Publish output
publish/
dist/

# Temporary files
*.tmp
*.temp
*.bak
*.ncb
*.cache
*.dbmdl

# SQLite DB if local (optional - if you don't want to push your local DB)
*.db

# Environment files
.env

# Rider / VSCode
.idea/
.vscode/
